   #color-palette {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 25px;
    position: absolute;
    top: 300px;
}

.black {
    background-color: black;
    left:10px;
}

.yellow {
    background-color: yellow;
    left: 70px;
}

.red {
    background-color: red;
    left: 130px;
}

.purple {
    background-color: purple;
    left: 190px;
}

#pixel-board {
    border-width: 1px;
    border-style: solid;
    width: 504px;
    height: 500px;
    top:400px;
    position: absolute;
}

.pixel {
    width: 100px;
    height: 98px;
}

#c1 {
    background-color: white;
}

#c2 {
    position: absolute;
    left: 101px;
    top: 0px;
    background-color: white;
}

#c3 {
    position: absolute;
    left: 202px;
    top: 0px;
    background-color: white;
}

#c4 {
    position: absolute;
    left: 303px;
    top: 0px;
    background-color: white;
}

#c5 {
    position: absolute;
    left: 404px;
    top: 0px;
    background-color: white;
}