body {
  margin: 0px;
}

#title {
  padding: 20px;
}

#color-pallete {
  display: flex;
  justify-content: space-evenly;
  background-color: #dddddd;
  height: 80px;
  padding: 40px;

}

.color {
 border: solid 1px black;
 height: 80px;
 width: 80px;

}

#black {
  background-color: black;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#pixel-board{
  display: flex;
  justify-content: center;
  height: 500px;
  background-color: rgb(141, 136, 136);


  
}

.pixel {
  height: 40px;
  width: 40px;
  border: solid 1px black;
  background-color: white;
  margin: 5px;

}