.color {
    border: 1px solid black;
    display: inline-block;
    width: 50px;
    height: 50px;
}

 #color-palette {
    width: 300px;
    height: 52px;
} 

#pixel-board {
    display: inline-block;
    width: 220px;
    height: 235px;
    font-size: 0px;
}

.pixel {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 1px;
    border: 1px solid black;
}
