#title {

}

#color-palette {
    margin-bottom: 20px;
}

div {

}

.color {
    display:inline-block;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

#color1 {
    background-color: black;
}

#color2 {
    background-color: blue;
}

#color3 {
    background-color: green;
}

#color4 {
background-color: yellow;
}

.pixel {
    display: inline-block;
    background-color: rgb(59, 31, 31);
    border: 1px solid black;
    margin: 1px;
    width: 40px;
    height: 40px;
}

