.color {
  list-style-type: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#pixel-board {
  width: 240px;
}

.pixel {
  list-style-type: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

