* {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dfdfdf;
}

.color {
  width: 80px;
  height: 80px;
  display: inline-block;
  border: 1px solid black;
}

#pixel-board {
  width: 250px;
}

.pixel {
  margin: 0;
  margin-bottom: -4px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
