header {
    
    
}
#color-palette {
    border: black solid 1px;
    width: 208px;
    height: 50px;
    list-style: none;
    padding: 0;
    margin:auto;
}
#title {
    text-align: center;
    font-family: 'Festive', cursive;
    font-size: 50px;
    font-weight: lighter
}
.color {
    width: 50px;
    height:50px;
    display:inline-block;
    border-width: 1px;
    border-style:solid;
    border-color: black;
}
.pixel {
    width: 40px;
    height: 40px;
    background-color: white;
    display: inline-block;
    border: black solid 1px;
}
#pixel-board {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    clear: both;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    border: black solid;
}
.lines {
    height: 40px;
}
#clear-board {
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    display: inline-block;
    margin-right: 45%;
}
#input-button {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    display: inline-block;
    margin-left: 45%;

}