#title{
    font-family: sans-serif;
}
#color-one{
    background-color: black;
    padding: 20px;
    display: inline-block;
    border: 1px solid black;
}
#color-two{
    background-color: red;
    padding: 20px;
    display: inline-block;
    border: 1px solid black;
}
#color-three{
    background-color: green;
    padding: 20px;
    display: inline-block;
    border: 1px solid black;
}
#color-four{
    background-color:brown;
    padding: 20px;
    display: inline-block;
    border: 1px solid black;
}
.pixel{
    border: 1px solid black ;
    background-color: white;
    height: 40px;
    width: 40px;
    display: inline-block ; 
}
#pixel-board{
    height: 250px;
    margin-top: 25px ;
    width: 250px;
}
#line{
    margin: -4px;
}