/*
   Estilizando o header
*/
#header{
   width: 100%;
   text-align: center;
   font-size: 25px;
}

/*
   Estilizando o main
*/

main{
   width: 80%;
   margin: 0 auto;
   text-align: center;
}


/*
   Estilizando paleta de cores
*/

#color-palette{
   margin-bottom: 50px;
}
.color{
   border: 1px solid black;
   width: 100px;
   height: 100px;
   cursor: pointer;
   display: inline-block;
}
/*
   Adicionando cores a cada paleta de cor 
*/

.black{
   background: black;
}

.red{
   background: red;
}

.blue{
   background: blue;
}

.green{
   background: green;
}
/*
   Estilizando a section/conteiner dos pixels
*/

#pixel-board{
   display: inline-block;
   width: 250px;
   height: 250px;
   border: 2px solid black;
   text-align: center;
   padding: 30px;
}
.pixel{
   background: white;
   display: inline-block;
   border: 1px solid black;
   width: 40px;
   height: 40px;
}