* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.color {
  display: inline-block;
  }

.grid-container{
  display:grid;
  grid-template-columns:40px 40px 40px 40px 40px;
  grid-template-rows:40px,40px,40px,40px,40px;
  margin-top:30px;
  position:relative;
  margin-left:50px;
  left:50%;
}
