.color {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  margin: 10px auto;
  display: inline-block;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

#pixel-board {
  width: 250px;
  height: auto;
  background-color: white;
  box-sizing: border-box;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
}

button {
  margin-bottom: 10px;
}
