.color {
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.color:nth-of-type(1) {
  background-color: black;
}

.color:nth-of-type(2) {
  background-color: #e1e996;
}

.color:nth-of-type(3) {
  background-color: #211847;
}

.color:nth-of-type(4) {
  background-color: #e996b7;
}

#pixel-board {
  height: 210px;
  width: 210px;
  border: 1px solid black;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  float: left;
}
