body {
    margin: 0;
    padding: 0;
}

#title {
    text-align: center;
}

#color-palette {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.border {
    display: inline-block;
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    font-size: 0;
}

.color {
    list-style-type: none;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 2px;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

#pixel-board {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.border-pixel-board {
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    display: inline-block;
    font-size: 0
}

.pixel {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
}

.btn-clear {
    text-align: center;
    margin-top: 15px;
}

#clear-board {
    display: inline-block;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid black;
}

