.color
{
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid;
  margin: 1px; 
}
#pixel-board
{
  display: inline-block;
  width: 226px;
  height: 226px;
  border: 1px solid;
  margin: 1px;
}
.pixel
{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid;  
  background-color: white;
}
#black
{
  background-color: black;
}
#blue
{
  background-color: rgb(6, 154, 240);
}
#red
{
  background-color: rgb(255, 60, 0);
}
#green
{
  background-color: rgb(0, 255, 0);
}
