/* Requisito 2 e 3 */
.color {
  border-color: black;
  border: 1px;
  border-style: solid;
  display: inline-table;
  height: 40px;
  width: 40px;
}

#red {
  background-color: red;
}

#orange {
  background-color: orange;
}

#yellow {
  background-color: yellow;
}

#black {
  background-color: black;
}

/* Requisito 5 */
.pixel {
  border-color: black;
  border: 1px;
  border-style: solid;
  height: 40px;
  width: 40px;
  background-color: white;
}
