body {
  background-color: lightgray;
}

.color {
  border: black solid 1px;
  display: inline-block;
  background-color: white;
  width: 48px;
  height: 48px;
}

.pixel {
  background-color: white;
  border: black solid 1px;
  width: 40px;
  height: 40px;
  display: table-cell;
}

button {
  margin-bottom: 5px;
}