.color {
  height: 50px;
  margin-left: 10px;
  vertical-align: middle;
  width: 50px;
  border: 1px solid black;
  display: inline-block;
}

#black {
  background: black;
}

#red {
  background: red;
}

#blue {
  background: blue;
}

#green {
  background: green;
}

#pixel-board{
    border: 1px solid black;
    height: 226px;
    width: 226px;
    display: inline-block;
}

.pixel{
    border: 1px solid black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background: white;
}