.color{
    border: 1px solid;
    height: 80px;
    width: 80px;
    /* background-color:black; */
    display: inline-block;
}

#pixel-board{
    border: 1px solid;
    height: 250px;
    width: 250px;
}

.pixel{
    border: 1px solid;
    width: 40px;
    height: 40px;
    list-style-type: none;
    display: inline-block;
    margin-top: 4px;
    background-color: rgb(255, 255, 255);
}