.color {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: inline-block;
}

h1 , #color-palette {
  text-align: center;
  align-items: center;
}

#clear-board {
  display: block;
  margin: auto;
}

#generate-board {
  display: inline;
  margin: 25px auto;
}

.container {
  text-align: center;
}

.pixel {
  width: 40px;
  height: 40px;
  background-color: white;
  display: inline-block;
  border: 1px solid black;
}

#pixel-board {
  text-align: center;
  width: max-content;
  padding: 0;
  margin: 25px auto;
}

.line {
  display: flex;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}

#color-palette div:nth-of-type( 1 ) {
  background-color: black;
}

#color-palette div:nth-of-type( 2 ) {
  background-color: olivedrab;
}

#color-palette div:nth-of-type( 3 ) {
  background-color: aquamarine;
}

#color-palette div:nth-of-type( 4 ) {
  background-color: mediumslateblue;
}
