#color-palette {
  display: flex;
}

.color {
  border: 1px solid black;
  cursor: pointer;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

#clear-board {
  cursor: pointer;
}

#pixel-board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}
