.color {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 1px solid black;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

#color-palette {
  margin-bottom: 30px;
}

.boardLine {
  margin-bottom: 0;
  padding: 0;
  height:40px;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
}