.color {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.pixel {
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.line {
  width: 450px;
  height: 40px;
}
