body {
  background-color: rgb(12, 4, 82);
}

.color {
  border: 1px black solid;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 5px;
}
.color:nth-child(1){
  background-color: black;
}
.color:nth-child(2){
  background-color: red;
}
.color:nth-child(3){
  background-color: blue;
}
.color:nth-child(4){
  background-color: green;
}
#pixel-board {
  width: 240px;
  height: 200px;
  margin: 5px;
  font-size: 0;
  display: inline-block;
}

.pixel {
  border: 1px black solid;
  width: 40px;
  height: 40px;
  display: inline-block;
  font-size: 0;
  background-color: rgb(255, 255, 255);
}