* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  min-width: 100vh;
  align-items: center;
  justify-content: center;
}

#title {
  text-align: center;
  position: absolute;
  top: 5rem;
}

.color {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border: 1px solid black;
  border-radius: 10px;
}

.pixel {
  border: 1px solid black;
  float: left;
  height: 40px;
  width: 40px;
  margin-left: 1px;
  margin-bottom: 1px;
  background-color: white;
}

#clear-board {
  width: 6rem;
  height: 2rem;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 3.4rem;
}
