body , html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

.palette-container {
  width: 100%;
  text-align: center;
}

.color {
  display: inline-block;
  border: 1px solid black;
  width: 30px;
  padding: 30px;
}

.board-container {
  width: 100%;
}

.pixel {
  background-color: white;
  padding: 20px;
}