body {
  background-color: #bd93f9;
  font-size: 20px;
  font-family: Verdana, sans-serif;
}

header {
  background-color: #282a36;
  margin-top: 0%;
  padding-bottom: 2%;
}

header h1 {
  color: #61f586;
  width: 28%;
  text-align: center;
  margin-top: 0%;
  margin-left: 36%;
  margin-right: 36%;
  margin-bottom: 2%;
  padding-top: 1.5%;
}

header ul {
  text-align: center;
  list-style: none;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding-left: 0%;
  padding-right: 0%;
}

header ul li {
  border: 1px solid rgb(0, 0, 0);
  display: inline-block;
  font-size: 1.3em;
  font-weight: 500;
  margin-right: 2%;
  margin-left: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

#color1 {
  background-color: black;
  color: ghostwhite;
}

#color2 {
  background-color: #f1fa8c;
  color: #282a36;
}

#color3 {
  background-color: #8be9fd;
  color: #282a36;
}

#color4 {
  background-color: #ff5555;
  color: ghostwhite;
}

main {
  margin-top: 3%;
}

#pixel-board {
  border: #ff5555 solid 5px;
  background-color: #50fa7b;
  display: block;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.pixel {
  border: #282a36 solid 1px;
  background-color: white;
  display: inline-block;
  width: 8%;
  padding-bottom: 8%;
}

#primeiroDaLinha {
  margin-left: 30%;
}

#ultimoDaLinha {
  margin-right: 25%;
}