* {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ededed;
}

.color {
  margin: 50px;
  padding: 50px;
  border: 1px solid black;
  display: inline-block;
}

#pixel-board {
  width: 250px;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
  margin: 0;
}
