.color{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
}
#black{
  background-color: black;
}
#coral{
  background-color: coral;
}
#violet{
  background-color: violet;
}
#cornflowerblue{
  background-color: cornflowerblue;
}
#coluna{
  display: inline-block;
}

.pixel{
  width: 40px;
  height: 40px;
  border: solid 1px black;
  background-color: rgb(255, 255, 255);
}