* {
  margin: 0;
  padding: 0;
}

.color {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: white;
  cursor: pointer;
}

.quad {
  width: 210px;
  height: 225px;
  background-color: white;
}
