.color{
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: inline-block;
}
#black{
    background-color: black;
    text-align: center;
}
#purple{
    background-color: purple;
    text-align: center;
}
#gray{
    background-color: gray;
    text-align: center;
}
#blue{
    background-color: blue;
    text-align: center;
}