#title {
  text-align: center;
}

#color-palette {
  max-width: 568px;
  margin: auto;
  padding: 0 auto;
}

.color {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

#pixel-board {
  max-width: 210px;
  margin: 0 auto;
  line-height: 0px;
  border: 1px solid black;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  background-color: white;
}