 .color{
     border: solid black 1px;
     width: 40px;
     height: 40px;
     display: inline-block;
 }
 .linha{
     height:42px;
     width: 210px;
     margin-right: 0px;
 }
 .pixel{
     border: solid black 1px;
     background-color: white;
     width: 40px;
     height: 40px;
     display:inline-block;
 }
 #pixel-board{
     border: solid black 1px;
     width: 210px;
 }
 #first{
    background-color: black;
 }
 #second{   
     background-color: aqua;
 }

 #third{
     background-color: red;
 }
 #fourth{
     background-color: green;
 }