.color {
  width: 50px;
  height: 50px;
  border: 1px black solid;
  display: inline-block;
}
#black {
  background-color: black;

}
#red {
  background-color: red;

}
#blue {
  background-color: blue;

}
#green {
  background-color: green;

}
.pixel {
  width: 40px;
  height: 40px;
  border: 1px rgb(0, 0, 0) solid;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  
  
}
#pixel-board {
  width: 210px;
  height: 210px;
  background-color: black;
 
}
.selected{
  width: 50px;
  height: 50px;
  border: 1px black solid;
  display: inline-block;
  
}
