   #color-palette {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 25px;
    position: absolute;
    top: 300px;
}

.black {
    background-color: black;
    left:45px;
}

.yellow {
    background-color: yellow;
    left: 105px;
}

.red {
    background-color: red;
    left: 165px;
}

.purple {
    background-color: purple;
    left: 225px;
}

#pixel-board {
    position: absolute;
    left: 40px;
    top: 400px;
    background-color:red;
}

.pixel {
    background-color:cyan;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-style: solid;
}

/* #c1 {
    left: 0px;
}

#c2 {
    position: absolute;
    left: 40px;
    top: 0px;
}

#c3 {
    position: absolute;
    left: 80px;
    top: 0px;
}

#c4 {
    position: absolute;
    left: 120px;
    top: 0px;
}

#c5 {
    position: absolute;
    left: 160px;
    top: 0px;
} */

.teste {
}