#body {
  background-color: rgb(54, 54, 54);
  text-align: center;
}

#title {
  font-size: 45px;
  background-color: white;
}

.color {
  border: 1px solid black;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.pixel {
  display: inline-block;
  background-color: white;
}

#pixel-board {
  font-size: 0;
}