.color {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  display: inline-block;
}

#color-palette {
  margin: 5px auto;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.black {
  background-color: black;
}