
#black{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 10%;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: black;
}

#blue{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 10%;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: blue;
}

#green{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 10%;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: green;
}

#yellow{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 10%;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: yellow;
}
/*--------------------------------------------------*/
#pixel-board {
  /* display: inline-block; */
  margin-top: 10px;

}

.line {
  /* width: 300px;
  height: 50px; */
}

.pixel {
  border-width: 1px;
  border-style: solid;
  border-radius: 8%;
  width: 40px;
  height: 40px;
  background-color: white;
  display: inline-block;
}

