   #color-palette {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 25px;
    position: absolute;
    top: 300px;
}

.black {
    background-color: black;
    left:10px;
}

.yellow {
    background-color: yellow;
    left: 70px;
}

.red {
    background-color: red;
    left: 130px;
}

.purple {
    background-color: purple;
    left: 190px;
}

#pixel-board {
    border-width: 1px;
    border-style: solid;
    width: 200px;
    height: 200px;
    top:400px;
    position: absolute;
}

.pixel {
    width: 40px;
    height: 40px;
    background-color: white;
    border-style: solid;
    border-width: 0px;
}

#c1 {
    left: 0px;
}

#c2 {
    position: absolute;
    left: 40px;
    top: 0px;
}

#c3 {
    position: absolute;
    left: 80px;
    top: 0px;
}

#c4 {
    position: absolute;
    left: 120px;
    top: 0px;
}

#c5 {
    position: absolute;
    left: 160px;
    top: 0px;
}