.color {
  width: 50px;
  height: 50px;
  border: 1px black solid;
  display: inline-block;
}
#black {
  background-color: rgb(0, 0, 0);

}
#red {
  background-color: rgb(255, 0, 0);

}
#blue {
  background-color: rgb(0, 0, 255);

}
#green {
  background-color: rgb(0, 128, 0);

}
.pixel {
  width: 40px;
  height: 40px;
  border: 1px rgb(0, 0, 0) solid;
  display: inline-block;
  background-color: rgb(255, 255, 255); 
}
#pixel-board {
  width: 210px;
  height: auto;
  background-color: black;
 
}
.selected{
  width: 50px;
  height: 50px;
  border: 1px black solid;
  display: inline-block;
  
}
#white {
 background-color: rgb(255, 255, 255);
}
#clear-board{
  margin-top: 40px;
  border: 1px black solid;
  background-color: rgb(211, 211, 211);
  width: 50px;
}
