/*
   Estilizando o header
*/
#header{
   width: 100%;
   text-align: center;
   font-size: 25px;
}

/*
   Estilizando o main
*/

main{
   width: 80%;
   margin: 0 auto;
   text-align: center;
}


/*
   Estilizando paleta de cores
*/
.color{
   border: 1px solid black;
   width: 100px;
   height: 100px;
   cursor: pointer;
   display: inline-block;
}
/*
   Adicionando cores a cada paleta de cor 
*/

.yellow{
   background: yellow;
}

.red{
   background: red;
}

.blue{
   background: blue;
}

.green{
   background: green;
}