.color {
    width: 50px;
    height: 50px;
    border: solid 1px black;
    display: inline-block;
}

#black {
    background-color: black;   
}

#red {
   background-color: red;
}

#purple {
   background-color: purple;
}

#blue {
   background-color: blue; 
}
