body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#color-palette * {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: black solid 1px;
    margin: 2px; 
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
} 

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

#pixel-board {
    list-style: none;
    margin-left: 10px;
}

.LINHAS {
    display: flex;
}

.pixel {
  border: 1px black solid;
  background-color: white;
  width: 40px;
  height: 40px;
}
