@font-face {
  font-family: pixel;
  src: url(./font/04B_30__.TTF);
}

body, #title, #color-palette, #settings {
  text-align: center;
  margin: 30px;
  font-family: pixel, arial, sans-serif;
  font-weight: lighter;
}

body {
  background-image: url(./image/background2.jpg);
}

#title {
  font-size: 3.1em;
  color: #ced3dc;
}


#color-palette div {
  display: inline-block;
}
.color {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

#board-size {
  width: 50px;
}

#input:focus {
  outline: 3px solid transparent;
}

#generate-board {
  background-color: #9fd149;
  border: 2px solid #3c4e1c;
  border-radius: 5px;
}

#generate-board:hover {
  background-color: #3c4e1c;
  border: 2px solid #9fd149;
  border-radius: 5px;
}

#clear-board {
  display: block;
  margin: 20px auto;
  background-color: #aba9c3;
  border: 2px solid #fcf7f8;
  border-radius: 5px;
}

#clear-board:hover {
  background-color: #fcf7f8;
  border: 2px solid #aba9c3;
  border-radius: 5px;
}





