body {
  background-color: rgb(242, 242, 242);
  text-align: center;
}

.color {
  border: 1px solid black;
}

#block-one {
  background-color: black;
  padding: 25px;
  display: inline-block;
}

#block-two {
  background-color: red;
  padding: 25px;
  display: inline-block;
}

#block-three {
  background-color: blue;
  padding: 25px;
  display: inline-block;
}

#block-four {
  background-color: green;
  padding: 25px;
  display: inline-block;
}

#pixel-board {
  padding-top: 20px;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  margin: 0 -1px -5px 0;
  background-color: white;
  display: inline-block;
}

#clear-board {
  margin-top: 20px;
}

#board-size {
  max-width: 50px;
}
