body {
    background-color: palegoldenrod;
}
#title {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(76, 109,78)
}
#color-palette {
    /* display: inline-block; */
    padding: 30px;
}

.color {
    display: inline-block;
    border: 1px solid black;
    background-color: darkgrey;
    width: 50px;
    height: 50px;
    /* position: relative;
    left: 41%; */
}

#pixel-board {
    background-color: darksalmon;
}

#pixel-board {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    width:250px;
    height: 250px;
    padding: 30px;
}