@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Baloo 2', cursive;
}

body {
  text-align: center;
  height: 100%;
  background: url('blob-scene-haikei.svg') no-repeat center fixed;
  background-size: cover;
}

#header-container {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #00214d;
}

#color-palette {
  margin: auto;
  height: 80px;
  color: #272727;
}

.color {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
  transition: border-radius 0.6s;
}

.color:hover {
  border-radius: 50px;
  cursor: pointer;
}

.selected {
  border-radius: 50px;
}

#board-size-container {
  margin: auto;
  height: 90px;
  color: #272727;
}

#board-container {
  margin: auto;
  text-align: center;
}

#pixel-board {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 210px;
  width: 210px;
}

.white {
  background-color: white;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  cursor: pointer;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}