* {
  margin: 0;
  padding: 0;
  border: 0;
}

.color {
  margin-top: 10px;
  display: inline-block;
  border: black solid 1px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
.color.black {
 background-color: rgb(0, 0, 0);
}

.color.purple {
  background-color: rgb(71, 4, 80);
 }

 .color.pink {
  background-color: rgb(196, 42, 149);
 }

 .color.darkgreen {
  background-color: rgb(16, 211, 58);
 }

 .color.red {
  background-color: rgb(255, 7, 7);
 }

 #pixel-board {
   margin-top: 10px;
   width: 250px;
   height:250px;
 }
 .pixel {
  display: inline-block;
  border: black solid 1px;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
 }

