#title {

}

.color {
    border: 1px solid black;
    width: 25px;
    height: 25px;
    display: inline-block;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green
}

.pixel {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: white;
}

#pixel-board {
    width: 235px;
    height: 235px;                /*para corrigir alteração de cor do fundo do board*/
}

.selected {
    
}