* {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 20px;
}
.color {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid black;
}
