.color {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#black {
  background-color: black;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

.line {
  margin: 0px;
  padding: 0px;
}

.pixel {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
}