#color-palette{
    width: 260px;
    height: 50px;
    margin-right: 50px;
    
  }
.color {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
    margin-right: 10px;
}
#preta {
  background-color:black;
}
#amarelo {
  background-color: yellow;
}
#verde {
  background-color: green;
}
#vermelho {
  background-color: red;
}