#title {
  text-align: center;
}

#color-palette {
  text-align: center;
}

.color {
  border: 1px solid black;
  height: 60px;
  width: 60px;
  display: inline-block;
  margin-bottom: 30px;
}

#purple {
background-color: purple;
}

#green {
background-color: greenyellow;
}

#black {
background-color: black;
}

#red {
background-color: red;
}

#pixel-board {
margin: auto;
width: 210px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  display: inline-block;
}