body {
  background-color: rgb(214, 224, 223);
  text-align: center;
}
/* Estilização do REQUISITO 2 */
.color {
  border: solid black 1px;
  width: 70px;
  display: inline-block;
  margin: 2px;
  height: 70px;
}

/* Estiliza elementos com a classe pixel e resolve a segunda especificação do requisito 5. Verifica se 40 pixels é o tamanho total do elemento, incluindo seu conteúdo e excluindo a borda preta, que deve ser criada à parte. */
.pixel {
  border: solid black 1px;
  width: 40px;
  display: inline-block;
  margin: 0px;
  height: 40px;
  background-color: white;
}
#color-palette{
  line-height: 0;
}
.columns {
  line-height: 0;
}

#clear-board {
  margin: 10px;
}