#title {
  color: brown;
  text-align: center;
  font-size: 50px;
}

.color {
  width: 20px;
  padding: 20px;
  border: 1px solid black;
  margin: 1px;
  display: inline-block;
}

#pixel-board {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(5, 40px);
  grid-template-rows: repeat(5, 40px);
  grid-auto-flow: column;
}

.pixel {
  width: 15px;
  padding: 15px;
  border: 1px solid black;
  margin: 1px;
  display: inline-block;
}

.black {
  background-color: black;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}
