   #color-palette {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 25px;
    position: absolute;
    top: 300px;
}

.black {
    background-color: black;
    left:10px;
}

.yellow {
    background-color: yellow;
    left: 70px;
}

.red {
    background-color: red;
    left: 130px;
}

.purple {
    background-color: purple;
    left: 190px;
}