#color-palette{
  width: 300px;
  height: 150px;
  border: 3px solid black;
}

#pixel-board{
  border: 1px solid black;
  margin-top: 25px;
  padding-bottom: 10px;
}

#board-size{
  height: 37px;
  width: 50px;
  display: inline-block;
  padding: 4px;
  text-align: center;
}

.pixel{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  margin-left: 15px;
  margin-top: 15px;
  background-color: white;
}

.color{
  width: 50px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
  margin-left: 15px;
  margin-top: 15px;
  padding-top: 10px;
}

button{
  width: 300px;
  height: 10px;
  margin-top: 20px;
  margin-left: 2px;
  padding: 20px;
  font-size: 20px;
  font-weight: bolder;
  line-height: 5px;
  background-color: #eee;
  display: block;
}

button#generate-board{
  display: inline-block;
  width: 235px;
}
