#title {

}

#color-palette {
    margin-bottom: 20px;
}

div {

}

.color {
    display:inline-block;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

#black {
    background-color: black;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
background-color: yellow;
}

.pixel {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    margin: 1px;
    width: 40px;
    height: 40px;
}

.pixel2 {
    display: inline-block;
    background-color: blue;
    border: 1px solid black;
    width: 60px;
    height: 60px;
}

/* .line {
    display: inline-block;
    background-color: red;
    border: 1px solid black;
    width: 100px;
    height: 100px;
} */

