#color-palette{
  width: 208px;
  height: 50px;
}

.color{
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 0px;
  background-color: rgb(0, 0, 0);
}

#pixel-board{
  width: 210px;
  height: 203px;
  margin: 0;
  margin-top: 20px;
  box-sizing: border-box;
}

.pixel{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  margin: 0px;
  background-color: white;
}

.line{
  height: 40px;
  margin: 0px;
}

#clear-board{
  margin-top: 20px;
  width: 210px;
}