#title {
  display: block;
  text-align: center;
}

#color-palette {
  text-align: center;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px 10px;
}

#pixel-board {
  height: 200px;
  width: 200px;
  margin: auto;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-table;
  margin: -3px -1px;
}