/* Estilização do REQUISITO 2 */
.color {
  border: solid black 1px;
  width: 70px;
  display: inline-block;
  margin: 2px;
  height: 70px;
}

.pixel {
  border: solid black 1px;
  width: 50px;
  display: inline-block;
  margin: 0px;
  height: 50px;
  background-color: white;
}

body {
  text-align: center;
}

.columns {
  line-height: 0;
}