#firstColor {
    background-color: black;
}

#secondColor {
    background-color: purple;
}

#thirdColor {
    background-color: yellow;
}

#fourthColor {
    background-color: pink;
}

.color {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}